<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/alarm" version="0.17" viewmodes="fullscreen">
	<name>alarm</name>
	<icon src="icon.png"/>
	<content src="index.html"/>
	<feature name="http://tizen.org/api/tizen" required="true"/>
	<feature name="http://tizen.org/api/application.read" required="true"/>
	<feature name="http://tizen.org/api/alarm" required="true"/>
	<tizen:application id="samplealrm" required_version="1.0"/>
</widget>
